* {
    margin-left: 5px;
}

.settings {
    position: relative;
    float: right;
    top: 10px;/* Adjust the top distance as needed */
    right: 10px; /* Adjust the right distance as needed */
    display: flex;
    align-items: baseline;
}

.progress-bar {
    width: 50%;
    height: 20px; /* Set the desired height for the progress bar */
    background-color: #bc1c75;
    margin: 0 auto;
    padding: 0;
}

.progress {
    height: 100%;
    width: 0;
    background-color: #1c75bc;
    margin: 0;
    padding: 0;
}

th {
    font-size: 2rem;
    font-weight: bold;
}

/* make form labels bold
*/
label {
    font-weight: bold;
}

#SettingsBar {
    float: right;
    height: 10%;
    Width: 110%;
    background-color: #1c75bc;
    margin:0px;
    display: flex;
    justify-content: flex-end;
}

/* make background color */
body {
    background-color: #bc1c75;
}

/* make all text color */
body {
    color: #220515;
}

/* make form input background color */
form {
    background-color: #1c75bc;
    border-radius: 5px;
    padding: 15px;
}

/* style bootsrap button text color */
.btn-primary, .btn-alert, .btn-success, .btn-danger, .btn-info, .btn-warning {
    color: #220515;
}
